.background{
	background-color:#151618;
	animation-name: opacity;
    -webkit-animation-name: opacity; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 

}

/*анимация появления*/
@keyframes opacity {
from {
opacity: 0;
}
to {
opacity: 1;
}
}



a {
    color: #e2e2e2; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    height: 0%;
    -webkit-transition: all 1s cubic-bezier(.14, .89, 1, 1); 
-moz-transition: all 1s cubic-bezier(.14, .89, 1, 1);  

   }
   a:visited {
    color: #e2e2e2; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: #fef100; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   width:150%;
    border-bottom: 2px solid #fef100; /* Добавляем свою линию */ 
     text-decoration: none; 

}
   
.position__container{ 
    margin-top: 11.5% ;
   text-align: center; /* Выравнивание по центру  текст*/ 
  
}

.contact{
   color:#e2e2e2; /* Цвет символа */
    margin-bottom: -7pt;
    font: 17pt arial ;


}

.position_logo{  
    text-align: center; /* Выравнивание по центру  картинки*/ 
  
   } 

/*.service {
  display: box;
  display: flex;

  flex-direction:row;
  justify-content: space-around;
  -webkit-align-content: space-around;
  }
/* Decorations
-------------------- */
/*BODY {
  padding: 12px;
  background: red;
  }
.service {
  padding: 10px;
 *
  border-radius: 10px;
  }
.service-item {
  margin: 10px;
  padding: 5px;
  
  border-radius: 5px;
  border: 1px solid #FFF;
  }
*/

.service__part{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideRight {
    0% {
        transform: translateX(-150%);
        opacity:0;
    }
    
}
 
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
        -webkit-opacity:opacity(0.2);
    }
    50%{
        -webkit-transform: translateX(8%);
        -webkit-opacity:opacity(0.4);
    }
    }
   
    80%{
        -webkit-transform: translateX(4%);
        -webkit-opacity:opacity(0.7);
    }
    }
             
    100% {
        -webkit-transform: translateX(0%);
        -webkit-opacity:opacity(1);
    }
    }
}





ul .service__part {
    margin: 0; /* Обнуляем значение отступов */
    
    padding: 10px; /* Значение полей */
   }
 ul .service__part  {
    display:inline-block; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */

   }


.services__info {
    position:relative;
    width:215px;
    height: 13px;
    padding:25px;
    padding-top: 13px;
    margin:10px;
    color:#000000; /*цвет шрифта*/
    font-size: 16pt;
    
    background:#fef100; /*yellow. #151618 - grey*/ 
    overflow:hidden;
}
 
.services__info:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    height: 0px; width: 0px;
    border-width:0 0px 0px 30px; /* размер треугольника  */
    border-top:25px solid ;
    border-bottom: 25px solid;
    border-style:solid;
    border-color:#151618 #151618 #151618 #fef100; /* Для работы с .rounded */
    background:#658E15; /* Для Opera при применении border-radius */
    display:block; width:0; /* Только для Firefox 3.0 для снятия ограничений */
    /* Опционально: тени */
    /*-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            */
}

.button {
margin-top: 24pt;
font: 26pt arial ;
color:#adadad; 
margin-bottom: 21pt;
}

 

.bottom{
			color:#e2e2e2; /* Цвет символа */
			font: 12pt arial ;
}

.footer__contact____mail{   
					margin-bottom: -11pt;
					
					font-size: 14pt;
				}


.footer__contact____tel { 
					
					
					font-size: 13.5pt;
				}
